body{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    color: blueviolet;
}
h2{
    color: darkgreen;
}
ul{
    background-color: dimgray;
    font-style: italic;
}
p{
    color: chocolate;
}
footer{
    background-color: darkseagreen;
    font-style: inherit;
}